.searchBox {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 50px;
  justify-content: center;
  align-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.checkbox {
  height: 15px !important;
  margin-left: 20px;
  margin-top: -0.7rem !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin-right: 20px;
}

.containerFull {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.checkboxContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}
.buttonContainer {
  align-self: flex-end;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.searchInput{
    min-width: 350px;
}

.offers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}