@import '../../../variables.scss';

.logo {
	width: 256px;
	border: 2px solid $light-gray;
	margin: 0 auto;
	display: block;
	border-radius: 20px;
}

.inputFile {
	display: none;
}

.label {
	display: block;
	margin: 10px auto;
	background-color: $light-blue;
	border-radius: 10px;
	padding: 2px 20px;
	color: white;
	font-weight: bold;
	width: fit-content;
}

.mainDiv {
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.mainDiv>* {
	margin: 20px;
}

.infoDiv {
	flex: 1;
}

.imgDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info {
	padding-left: 140px;
}

@media only screen and (max-width: 670px) {

	.mainDiv {
		flex-direction: column;
	}
}