.modalFieldsType{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.modalFieldsChoose{
  width: 40%;
  margin: 20px;
  border-radius: 5px 5px 5px 5px;
  padding: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
    div{
      margin: 20px;
    }
}