@import  "../../variables.scss";

.navbarMain {
	background-color: $navbar-background;
	font-weight: 300;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	display: flex;
	align-items: center;
	padding: .5rem 1rem;
	color: white;
	height: 70px;
	justify-content: space-between;
}

.logoDiv{
	display: flex;
	flex-direction: row;
	cursor: pointer;
	height: 100%;
}

.logo{
	height: 100%;
	width: auto;
}

.navigationDiv{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-right: 3%;
}

.navigationDivSmall{
	display: none;
}

.linksDiv{
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.link{
	padding: 1.1em 1em !important;
	font-size: calc(1vw + 8px);
	font-weight: 300;
	letter-spacing: 1px;
	white-space: nowrap;
	color: white;
	cursor: pointer;
	transition-duration: 0.35s;
	transition-timing-function: ease;
	transition-property: all;
}

.link:hover, .smallLink:hover{
	color: $secondary-color;
}

.accountDiv{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.accountDivSmall{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.smallMenu{
	width: 100%;
	background-color: $navbar-background;
	position: fixed;
	z-index: 1030;
	font-weight: 400;
	top: 70px;
	right: 0;
	left: 0;
	display: none;
	flex-direction: column;
}

.smallLink{
	color: white;
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	padding: 0.6em 0.5em !important;
	font-size: calc(2vw + 12px);
	font-weight: 300;
	letter-spacing: 1px;
	white-space: nowrap;
	color: white;
	cursor: pointer;
	transition-duration: 0.35s;
	transition-timing-function: ease;
	transition-property: all;
}

/*DESIGN FOR SMALLER DEVICES VERTICAL MENU*/

@media only screen and (max-width: 915px) {
	.navigationDiv{
		display: none;
	}

	.navigationDivSmall{
		display: flex;
	}

	.smallMenu{
		display: flex;
	}
}