@import "../../../variables.scss";

.SidebarContainer {
  margin-top: 70px;
  width: 0px;
  height: auto;
  height: calc(100vh);
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
}

.SidebarElement {
  height: 100%;
  position: relative;
}

.SidebarContent {
  width: 0px;
  height: auto;
  height: 100%;
  background-color: $navbar-background;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15vh 0;
}

.button {
  text-align: right;
  background-color: $navbar-background;
  border-radius: 0px 0px 20px 0px;
  &:focus {
    outline: none;
  }
}
