@import "../../../variables.scss";

.error {
  color: $red;
  font-weight: bold;
}

.selectContainer {
  width: 46%;
  float: left;
  text-align: center;
  min-height: 30vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 2%;
  padding: 20px 32px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  position: relative;
  z-index: 9;
  min-width: 200px
}

.selectContainer:hover{
	transform: scale(1.05) translate(0px, -2px);
}

.text{
	color: black;
}

.icons{
	display: flex;
	flex-direction: row;
}