.itemContainer {
  display: flex;
  width: 300px;

  div {
    width: 70px;
    text-align: center;
    cursor: pointer;
  }
}

.name {
  text-align: left !important;
  padding-right: 10px;
  width: calc(100% - 70px) !important;
  align-self: end;
  margin-left: 40px;
  color: white;
}
