.inputList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillInput{
  width: 200px !important;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 160%;
  cursor: pointer;
}

.div {
  position: relative;
}

.buttonDiv{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}