.panelHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 200px;
  padding-top: 50px;
}

.border {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
