@import "../../../variables.scss";

.driversRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.driversInfo {
	cursor: pointer;
	form {
		width: fit-content;
		> div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			width: fit-content; 
			margin-right: 10px !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			> div {
				margin: 20px;
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		}
	}
}

.driversRemove {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.serverErrorMessage {
	color: $red;
	font-weight: bold;
	margin: 10px;
	width: 100%;
	text-align: center;
}
